NET "a" LOC = P1;
NET "a" IOSTANDARD = LVTTL;
NET "b" LOC = P2;
NET "b" IOSTANDARD = LVTTL;
NET "c" LOC = P5;
NET "c" IOSTANDARD = LVTTL;
NET "carry" LOC = P7;
NET "carry" IOSTANDARD = LVTTL;
NET "sum" LOC = P9;
NET "sum" IOSTANDARD = LVTTL;
