NET "a" LOC = P1 | IOSTANDARD = LVTTL;
NET "b" LOC = P2 | IOSTANDARD = LVTTL;
NET "c" LOC = P5 | IOSTANDARD = LVTTL;
NET "carry" LOC = P7 | IOSTANDARD = LVTTL;
NET "sum" LOC = P9| IOSTANDARD = LVTTL;
